<a href="https://colab.research.google.com/github/djswoosh/Uni-Bits/blob/main/Movie_Recommendation_Engine_Using_KNN_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [37]:
ratings_df = pd.read_csv("/content/drive/MyDrive/DATA SCIENCE/Datasets/ratings_small.csv")

In [38]:
ratings_df.shape

(100004, 4)

In [39]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [40]:
movies_df = pd.read_csv("/content/drive/MyDrive/DATA SCIENCE/Datasets/movies_metadata.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [42]:
movies_df.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [43]:
movies_df.drop(movies_df.index[19730],inplace=True)
movies_df.drop(movies_df.index[29502],inplace=True)
movies_df.drop(movies_df.index[35585],inplace=True)

In [44]:
movies_df.id = movies_df.id.astype(np.int64)

In [45]:
type(movies_df.id[0])

numpy.int64

In [46]:
ratings_df.movieId.isin(movies_df.id).sum()

44989

In [47]:
ratings_df = pd.merge(ratings_df,movies_df[['title','id']],left_on='movieId',right_on='id')
ratings_df.head()

   userId  movieId  rating   timestamp      title    id
0       1     1371     2.5  1260759135  Rocky III  1371
1       4     1371     4.0   949810302  Rocky III  1371
2       7     1371     3.0   851869160  Rocky III  1371
3      19     1371     4.0   855193404  Rocky III  1371
4      21     1371     3.0   853852263  Rocky III  1371

In [48]:
ratings_df.drop(['timestamp','id'],axis=1,inplace=True)

In [49]:
ratings_df.shape

(44994, 4)

In [50]:
ratings_df.sample(5)

       userId  movieId  rating               title
9196      522      431     3.5                Cube
33939     577      849     3.5               Krull
36099     545     1959     5.0  Swept from the Sea
33419     436     2067     4.0     Mission to Mars
12841     285     2046     3.0            The Gift

In [51]:
ratings_df.isnull().sum()

userId     0
movieId    0
rating     0
title      0
dtype: int64

In [52]:
ratings_count = ratings_df.groupby(by="title")['rating'].count().reset_index().rename(columns={'rating':'totalRatings'})[['title','totalRatings']]

In [53]:
ratings_count.shape[0]

2794

In [54]:
len(ratings_df['title'].unique())

2794

In [55]:
ratings_count.sample(5)

                   title  totalRatings
885         Gosford Park             3
506              Cockpit             1
2425          The Secret             3
2772  Young Frankenstein            29
392      Brief Encounter             8

In [56]:
ratings_count.head()

                                  title  totalRatings
0                 !Women Art Revolution             2
1                           'Gator Bait             1
2      'Twas the Night Before Christmas             2
3              ...And God Created Woman             1
4  00 Schneider - Jagd auf Nihil Baxter             2

In [57]:
ratings_df.head()

   userId  movieId  rating      title
0       1     1371     2.5  Rocky III
1       4     1371     4.0  Rocky III
2       7     1371     3.0  Rocky III
3      19     1371     4.0  Rocky III
4      21     1371     3.0  Rocky III

In [58]:
ratings_total= pd.merge(ratings_df, ratings_count, on = 'title', how = 'left')

In [59]:
ratings_total.shape

(44994, 5)

In [60]:
ratings_total.head()

   userId  movieId  rating      title  totalRatings
0       1     1371     2.5  Rocky III            47
1       4     1371     4.0  Rocky III            47
2       7     1371     3.0  Rocky III            47
3      19     1371     4.0  Rocky III            47
4      21     1371     3.0  Rocky III            47

In [61]:
ratings_count['totalRatings'].describe()

count    2794.000000
mean       16.103794
std        31.481306
min         1.000000
25%         1.000000
50%         4.000000
75%        15.750000
max       324.000000
Name: totalRatings, dtype: float64

In [62]:
ratings_count['totalRatings'].quantile(np.arange(.6,1,0.01))

0.60      7.00
0.61      7.00
0.62      7.00
0.63      8.00
0.64      8.00
0.65      9.00
0.66      9.00
0.67     10.00
0.68     10.00
0.69     11.00
0.70     12.00
0.71     12.00
0.72     13.00
0.73     14.00
0.74     14.00
0.75     15.75
0.76     17.00
0.77     18.00
0.78     19.00
0.79     20.00
0.80     21.00
0.81     22.33
0.82     24.00
0.83     26.00
0.84     27.00
0.85     29.00
0.86     31.00
0.87     34.00
0.88     37.00
0.89     41.77
0.90     45.00
0.91     49.00
0.92     52.56
0.93     59.00
0.94     64.42
0.95     71.00
0.96     83.28
0.97     98.21
0.98    119.14
0.99    168.49
Name: totalRatings, dtype: float64

In [63]:
votes_count_threshold = 20

In [64]:
ratings_top = ratings_total.query('totalRatings > @votes_count_threshold')

In [65]:
ratings_top.shape

(34552, 5)

In [66]:
ratings_top.head()

   userId  movieId  rating      title  totalRatings
0       1     1371     2.5  Rocky III            47
1       4     1371     4.0  Rocky III            47
2       7     1371     3.0  Rocky III            47
3      19     1371     4.0  Rocky III            47
4      21     1371     3.0  Rocky III            47

In [67]:
if not ratings_top[ratings_top.duplicated(['userId','title'])].empty:
    ratings_top = ratings_top.drop_duplicates(['userId','title'])

In [68]:
ratings_top.shape

(34412, 5)

In [69]:
df_for_knn = ratings_top.pivot(index='title',columns='userId',values='rating').fillna(0)

In [70]:
df_for_knn.head()

userId                        1    2    3    4    5    ...  667  668  669  670  671
title                                                  ...
20,000 Leagues Under the Sea  0.0  0.0  0.0  3.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
2001: A Space Odyssey         0.0  3.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
24 Hour Party People          0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
28 Days Later                 0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
28 Weeks Later                0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0

[5 rows x 671 columns]

In [71]:
df_for_knn.shape

(580, 671)

In [72]:
from scipy.sparse import csr_matrix

In [73]:
df_for_knn_sparse = csr_matrix(df_for_knn.values)

In [74]:
from sklearn.neighbors import NearestNeighbors

In [75]:
model_knn = NearestNeighbors(metric='cosine',algorithm='brute')

In [76]:
model_knn.fit(df_for_knn_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [77]:
query_index = np.random.choice(df_for_knn.shape[0])

In [78]:
distances, indices = model_knn.kneighbors(df_for_knn.loc['Batman Returns'].values.reshape(1,-1),n_neighbors=6)

In [79]:
for i in range(0,len(distances.flatten())):
    if i==0:
        print("Recommendations for movie: {0}\n".format(df_for_knn.index[query_index]))
    else:
        print("{0}: {1}, with distance of {2}".format(i,df_for_knn.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for movie: La Vie en Rose

1: Silent Hill, with distance of 0.30336126037089606
2: To Kill a Mockingbird, with distance of 0.3064181508774485
3: Reservoir Dogs, with distance of 0.3387139430593612
4: Monsoon Wedding, with distance of 0.37021315086973283
5: Wag the Dog, with distance of 0.41973556386139477