<a href="https://colab.research.google.com/github/djswoosh/Uni-Bits/blob/main/Movies_Meta_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.__version__

'1.1.5'

In [3]:
df = pd.read_csv("/content/drive/MyDrive/DATA SCIENCE/Datasets/movies_metadata (1) (1).csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.shape #Total Number of movies 45466

(45466, 24)

In [7]:
df.columns #Output of columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [8]:
df = df.set_index('title')

In [9]:
jum =df.loc['Jumanji'] #Accessing the Movie Jumanji
print(jum)

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                            65000000
genres                   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
homepage                                                               NaN
id                                                                    8844
imdb_id                                                          tt0113497
original_language                                                       en
original_title                                                     Jumanji
overview                 When siblings Judy and Peter discover an encha...
popularity                                                         17.0155
poster_path                               /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
production_companies     [{'name': 'TriStar Pictures', 'id': 559}, {'na...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-15
revenue                                                        2.62797e+08
runtime                                                                104
spoken_languages         [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
status                                                            Released
tagline                          Roll the dice and unleash the excitement!
video                                                                False
vote_average                                                           6.9
vote_count                                                            2413
Name: Jumanji, dtype: object

In [10]:
#RevertBacktothepreviousZeroBasedIndex

df = df.reset_index()

In [11]:
#SubsetDataframe

small_df = df[['title', 'release_date', 'budget', 'revenue', 'runtime', 'genres']]

In [12]:
small_df.head()

                         title  ...                                             genres
0                    Toy Story  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1                      Jumanji  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2             Grumpier Old Men  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3            Waiting to Exhale  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  Father of the Bride Part II  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 6 columns]

In [13]:
small_df.info() #DiplaysAlltheDataTypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         45460 non-null  object
 1   release_date  45379 non-null  object
 2   budget        45466 non-null  object
 3   revenue       45460 non-null  float64
 4   runtime       45203 non-null  float64
 5   genres        45466 non-null  object
dtypes: float64(2), object(4)
memory usage: 2.1+ MB

In [ ]:
##import numpy as np

#Convert Budget to Float
#df['budget'] = df['budget'].astype('float')

ValueError: ignored

In [14]:
import numpy as np

#Function to convert float manually

def to_float (x):
  try:
    x = float(x)
  except:
    x = np.nan
  return x

In [15]:
#Apply the float function to all values in the budget column

small_df['budget'] = small_df['budget'].apply(to_float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
small_df['budget'] = small_df['budget'].astype('float')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
small_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         45460 non-null  object
 1   release_date  45379 non-null  object
 2   budget        45463 non-null  float64
 3   revenue       45460 non-null  float64
 4   runtime       45203 non-null  float64
 5   genres        45466 non-null  object
dtypes: float64(3), object(3)
memory usage: 2.1+ MB

In [18]:
#Convert release_date into pandas datetime format

small_df['release_date'] = pd.to_datetime(small_df['release_date'], errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
#Extract year from datetime

small_df['year'] = small_df['release_date'].apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
#NewDataFrame with year feature

small_df.head()

                         title  ...  year
0                    Toy Story  ...  1995
1                      Jumanji  ...  1995
2             Grumpier Old Men  ...  1995
3            Waiting to Exhale  ...  1995
4  Father of the Bride Part II  ...  1995

[5 rows x 7 columns]

In [21]:
small_df = small_df.sort_values('year')

In [22]:
small_df.head()

                               title  ...  year
34940               Passage of Venus  ...  1874
34937     Sallie Gardner at a Gallop  ...  1878
41602                Buffalo Running  ...  1883
34933    Man Walking Around a Corner  ...  1887
34938  Traffic Crossing Leeds Bridge  ...  1888

[5 rows x 7 columns]

In [23]:
#Sorting the movies based on revenues

small_df= small_df.sort_values('revenue', ascending=False)

In [24]:
small_df.head()

                              title  ...  year
14551                        Avatar  ...  2009
26555  Star Wars: The Force Awakens  ...  2015
1639                        Titanic  ...  1997
17818                  The Avengers  ...  2012
25084                Jurassic World  ...  2015

[5 rows x 7 columns]

In [25]:
#Calculating the number of votes garnered by the 80th percentile movie
m = df['vote_count'].quantile(0.80)

In [26]:
print(m)

50.0

In [27]:
#Movies that are greater than 45 minutes and less than 300 minutes in length

q_movies = df[(df['runtime'] >= 45) & (df['runtime'] <= 300)]

In [28]:
#Movies with more than m votes

q_movies = q_movies[q_movies['vote_count'] >= m]

In [29]:
q_movies.shape

(8963, 24)

In [30]:
#Calculate C

C = df['vote_average'].mean()
print(C)

5.618207215133889

In [33]:
#Function to compute the IMDB weighted rating for each movie 

def weighted_rating(x, m=m, C=C):
  v = x ['vote_count']
  R = x['vote_average']

  #Compute the weighted score

  return (v/(v+m) * R) + (m/(m+v) * C)

In [34]:
#Compute the score using the weighted_rating fucntion defined above

q_movies['score'] = q_movies.apply(weighted_rating, axis = 1)

In [39]:
#First Recommender

q_movies = q_movies.sort_values('score', ascending= False)

In [41]:
q_movies.head()

                             title  adult  ... vote_count     score
10309  Dilwale Dulhania Le Jayenge  False  ...      661.0  8.855148
314       The Shawshank Redemption  False  ...     8358.0  8.482863
834                  The Godfather  False  ...     6024.0  8.476278
40251                   Your Name.  False  ...     1030.0  8.366584
12481              The Dark Knight  False  ...    12269.0  8.289115

[5 rows x 25 columns]