<a href="https://colab.research.google.com/github/djswoosh/Uni-Bits/blob/main/PonyOrm_Interactive_Mode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pony

Collecting pony
  Downloading pony-0.7.14.tar.gz (290 kB)
     |████████████████████████████████| 290 kB 4.2 MB/s
Building wheels for collected packages: pony
  Building wheel for pony (setup.py) ... done
  Created wheel for pony: filename=pony-0.7.14-py3-none-any.whl size=351293 sha256=14e9558701fb9b46f3f27e95a18515731b169d9586a9dceda354cafcdd2310fe
  Stored in directory: /root/.cache/pip/wheels/de/7a/8b/82a3b5a0135fc6bad188f62e1bf6c4843142bc22c144879014
Successfully built pony
Installing collected packages: pony
Successfully installed pony-0.7.14

In [3]:
from pony.orm import *

In [4]:
db = Database()

In [5]:
class Person(db.Entity):
  name = Required(str)
  age = Required(int)
  cars = Set ('Car')

class Car(db.Entity):
  make = Required(str)
  model = Required(str)
  owner = Required(Person)

In [6]:
show(Person)

class Person(Entity):
    id = PrimaryKey(int, auto=True)
    name = Required(str)
    age = Required(int)
    cars = Set(Car)

In [7]:
show(Car)

class Car(Entity):
    id = PrimaryKey(int, auto=True)
    make = Required(str)
    model = Required(str)
    owner = Required(Person)

In [8]:
db.bind(provider='sqlite', filename =':memory:')

In [10]:
db.bind(provider ='sqlite', filename='database.sqlite', create_db=True)

BindingError: ignored

In [14]:
db.generate_mapping(create_tables = True)

BindingError: ignored

In [13]:
set_sql_debug(True) #To See the SQL commans that Pony sends to the database

In [15]:
p1 = Person(name = 'John', age = 20)
p2 = Person(name = 'Mary', age = 22)
p3 = Person(name = 'Bob', age = 30)
c1 = Car(make = 'Toyota', model = 'Prius', owner = p2)
c2 = Car(make = 'Ford', model = 'Explorer', owner = p3)
commit() #This will send five insert commands to the database.

GET CONNECTION FROM THE LOCAL POOL
BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Person" ("name", "age") VALUES (?, ?)
['John', 20]

INSERT INTO "Person" ("name", "age") VALUES (?, ?)
['Mary', 22]

INSERT INTO "Person" ("name", "age") VALUES (?, ?)
['Bob', 30]

INSERT INTO "Car" ("make", "model", "owner") VALUES (?, ?, ?)
['Toyota', 'Prius', 2]

INSERT INTO "Car" ("make", "model", "owner") VALUES (?, ?, ?)
['Ford', 'Explorer', 3]

COMMIT

In [17]:
@db_session
def print_person_name(person_id):
  p = Person[person_id]
  print (p.name)

In [18]:
@db_session
def add_car(person_id, make, model):
  Car(make=make, model=model, owner=Person[person_id])
  #commit() will be done automatically

In [19]:
with db_session:
  p = Person(name='Kate', age=33)
  Car(make='Audi', model='R8', owner=p)
  #commit() will be done automatically
  #database session cache will be cleared automatically
  #database connection will be returned to the pool

BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Person" ("name", "age") VALUES (?, ?)
['Kate', 33]

INSERT INTO "Car" ("make", "model", "owner") VALUES (?, ?, ?)
['Audi', 'R8', 4]

COMMIT
RELEASE CONNECTION

In [20]:
select(p for p in Person if p.age > 20)

In [21]:
select(p for p in Person if p.age >20)[:]

GET CONNECTION FROM THE LOCAL POOL
SWITCH TO AUTOCOMMIT MODE
SELECT "p"."id", "p"."name", "p"."age"
FROM "Person" "p"
WHERE "p"."age" > 20

[Person[2], Person[3], Person[4]]

In [22]:
select(p for p in Person).order_by(Person.name)[:2]

SELECT "p"."id", "p"."name", "p"."age"
FROM "Person" "p"
ORDER BY "p"."name"
LIMIT 2

[Person[3], Person[1]]

In [23]:
select(p for p in Person).order_by(Person.name)[:2].show()

SELECT "p"."id", "p"."name", "p"."age"
FROM "Person" "p"
ORDER BY "p"."name"
LIMIT 2

id|name|age
--+----+---
3 |Bob |30
1 |John|20

In [24]:
Car.select().show()

SELECT "c"."id", "c"."make", "c"."model", "c"."owner"
FROM "Car" "c"

id|make  |model   |owner
--+------+--------+---------
1 |Toyota|Prius   |Person[2]
2 |Ford  |Explorer|Person[3]
3 |Audi  |R8      |Person[4]

In [26]:
persons = select(p for p in Person if 'o' in p.name)
for p in persons:
  print(p.name, p.age)

SELECT "p"."id", "p"."name", "p"."age"
FROM "Person" "p"
WHERE "p"."name" LIKE '%o%'

John 20
Bob 30

In [27]:
select(p.name for p in Person if p.age != 30)[:]

SELECT DISTINCT "p"."name"
FROM "Person" "p"
WHERE "p"."age" <> 30

['John', 'Mary', 'Kate']

In [28]:
select((p, count(p.cars)) for p in Person)[:]

SELECT "p"."id", COUNT(DISTINCT "car"."id")
FROM "Person" "p"
  LEFT JOIN "Car" "car"
    ON "p"."id" = "car"."owner"
GROUP BY "p"."id"

[(Person[1], 0), (Person[2], 1), (Person[3], 1), (Person[4], 1)]

In [29]:
print(max(p.age for p in Person))

SELECT MAX("p"."age")
FROM "Person" "p"

33

In [31]:
p1= Person[1]
print(p1.name)

John

In [32]:
mary = Person.get(name = 'Mary')

print(mary.age)

SELECT "id", "name", "age"
FROM "Person"
WHERE "name" = ?
LIMIT 2
['Mary']

22

In [33]:
mary.age += 1
commit()

BEGIN IMMEDIATE TRANSACTION
UPDATE "Person"
SET "age" = ?
WHERE "id" = ?
  AND "name" = ?
  AND "age" = ?
[23, 2, 'Mary', 22]

COMMIT

In [34]:
x = 25
Person.select_by_sql('SELECT * FROM Person p WHERE p.age < $x')

BEGIN IMMEDIATE TRANSACTION
SELECT * FROM Person p WHERE p.age < ?
[25]

[Person[1], Person[2]]

In [35]:
#DB SELECT ALLOWS TO WORK WITH THE DATABASE DIRECTLY AVOIDING ENTITITES

x= 20
db.select('name FROM Person WHERE age > $x')

select name FROM Person WHERE age > ?
[20]

['Mary', 'Bob', 'Kate']

In [37]:
from pony.orm.examples.estore import *

GET NEW CONNECTION
RELEASE CONNECTION
GET CONNECTION FROM THE LOCAL POOL
PRAGMA foreign_keys = false
BEGIN IMMEDIATE TRANSACTION
CREATE TABLE "Category" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT UNIQUE NOT NULL
)

CREATE TABLE "Customer" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "email" TEXT UNIQUE NOT NULL,
  "password" TEXT NOT NULL,
  "name" TEXT NOT NULL,
  "country" TEXT NOT NULL,
  "address" TEXT NOT NULL
)

CREATE TABLE "Order" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "state" TEXT NOT NULL,
  "date_created" DATETIME NOT NULL,
  "date_shipped" DATETIME,
  "date_delivered" DATETIME,
  "total_price" DECIMAL(12, 2) NOT NULL,
  "customer" INTEGER NOT NULL REFERENCES "Customer" ("id") ON DELETE CASCADE
)

CREATE INDEX "idx_order__customer" ON "Order" ("customer")

CREATE TABLE "Product" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT NOT NULL,
  "description" TEXT NOT NULL,
  "picture" BLOB,
  "price" DECIMAL(12, 2) NOT NULL,
  "quantity" INTEGER NOT NULL
)

CREATE TABLE "CartItem" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "quantity" INTEGER NOT NULL,
  "customer" INTEGER NOT NULL REFERENCES "Customer" ("id") ON DELETE CASCADE,
  "product" INTEGER NOT NULL REFERENCES "Product" ("id") ON DELETE CASCADE
)

CREATE INDEX "idx_cartitem__customer" ON "CartItem" ("customer")

CREATE INDEX "idx_cartitem__product" ON "CartItem" ("product")

CREATE TABLE "Category_Product" (
  "category" INTEGER NOT NULL REFERENCES "Category" ("id") ON DELETE CASCADE,
  "product" INTEGER NOT NULL REFERENCES "Product" ("id") ON DELETE CASCADE,
  PRIMARY KEY ("category", "product")
)

CREATE INDEX "idx_category_product" ON "Category_Product" ("product")

CREATE TABLE "OrderItem" (
  "quantity" INTEGER NOT NULL,
  "price" DECIMAL(12, 2) NOT NULL,
  "order" INTEGER NOT NULL REFERENCES "Order" ("id") ON DELETE CASCADE,
  "product" INTEGER NOT NULL REFERENCES "Product" ("id") ON DELETE CASCADE,
  PRIMARY KEY ("order", "product")
)

CREATE INDEX "idx_orderitem__product" ON "OrderItem" ("product")

SELECT "CartItem"."id", "CartItem"."quantity", "CartItem"."customer", "CartItem"."product"
FROM "CartItem" "CartItem"
WHERE 0 = 1

SELECT "Category"."id", "Category"."name"
FROM "Category" "Category"
WHERE 0 = 1

SELECT "Category_Product"."category", "Category_Product"."product"
FROM "Category_Product" "Category_Product"
WHERE 0 = 1

SELECT "Customer"."id", "Customer"."email", "Customer"."password", "Customer"."name", "Customer"."country", "Customer"."address"
FROM "Customer" "Customer"
WHERE 0 = 1

SELECT "Order"."id", "Order"."state", "Order"."date_created", "Order"."date_shipped", "Order"."date_delivered", "Order"."total_price", "Order"."customer"
FROM "Order" "Order"
WHERE 0 = 1

SELECT "OrderItem"."quantity", "OrderItem"."price", "OrderItem"."order", "OrderItem"."product"
FROM "OrderItem" "OrderItem"
WHERE 0 = 1

SELECT "Product"."id", "Product"."name", "Product"."description", "Product"."picture", "Product"."price", "Product"."quantity"
FROM "Product" "Product"
WHERE 0 = 1

COMMIT
COMMIT
PRAGMA foreign_keys = true
CLOSE CONNECTION
RELEASE CONNECTION

In [38]:
populate_database()

GET NEW CONNECTION
BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Customer" ("email", "password", "name", "country", "address") VALUES (?, ?, ?, ?, ?)
['john@example.com', '***', 'John Smith', 'USA', 'address 1']

INSERT INTO "Customer" ("email", "password", "name", "country", "address") VALUES (?, ?, ?, ?, ?)
['matthew@example.com', '***', 'Matthew Reed', 'USA', 'address 2']

INSERT INTO "Customer" ("email", "password", "name", "country", "address") VALUES (?, ?, ?, ?, ?)
['chuanqin@example.com', '***', 'Chuan Qin', 'China', 'address 3']

INSERT INTO "Customer" ("email", "password", "name", "country", "address") VALUES (?, ?, ?, ?, ?)
['rebecca@example.com', '***', 'Rebecca Lawson', 'USA', 'address 4']

INSERT INTO "Customer" ("email", "password", "name", "country", "address") VALUES (?, ?, ?, ?, ?)
['oliver@example.com', '***', 'Oliver Blakey', 'UK', 'address 5']

INSERT INTO "Category" ("name") VALUES (?)
['Tablets']

INSERT INTO "Category" ("name") VALUES (?)
['USB Flash Drives']

INSERT INTO "Category" ("name") VALUES (?)
['Solid State Drives']

INSERT INTO "Category" ("name") VALUES (?)
['Data Storage']

INSERT INTO "Product" ("name", "description", "price", "quantity") VALUES (?, ?, ?, ?)
['Kindle Fire HD', 'Amazon tablet for web, movies, music, apps, games, reading and more', '284.00', 120]

INSERT INTO "Product" ("name", "description", "price", "quantity") VALUES (?, ?, ?, ?)
['Apple iPad with Retina Display MD513LL/A (16GB, Wi-Fi, White)', 'iPad with Retina display now features an A6X chip, FaceTime HD camera, and faster Wi-Fi', '478.50', 180]

INSERT INTO "Product" ("name", "description", "price", "quantity") VALUES (?, ?, ?, ?)
['SanDisk Cruzer 16 GB USB Flash Drive', 'Take it all with you on reliable SanDisk USB flash drive', '9.99', 400]

INSERT INTO "Product" ("name", "description", "price", "quantity") VALUES (?, ?, ?, ?)
['Kingston Digital DataTraveler SE9 16GB USB 2.0', 'Convenient - small, capless and pocket-sized for easy transportability', '9.98', 350]

INSERT INTO "Product" ("name", "description", "price", "quantity") VALUES (?, ?, ?, ?)
['Samsung 840 Series 2.5 inch 120GB SATA III SSD', 'Enables you to boot up your computer in as little as 15 seconds', '98.95', 0]

INSERT INTO "Product" ("name", "description", "price", "quantity") VALUES (?, ?, ?, ?)
['Crucial m4 256GB 2.5-Inch SSD SATA 6Gb/s CT256M4SSD2', 'The award-winning SSD delivers powerful performance gains for SATA 6Gb/s systems', '188.67', 60]

INSERT INTO "CartItem" ("quantity", "customer", "product") VALUES (?, ?, ?)
[1, 1, 1]

INSERT INTO "CartItem" ("quantity", "customer", "product") VALUES (?, ?, ?)
[1, 1, 2]

INSERT INTO "CartItem" ("quantity", "customer", "product") VALUES (?, ?, ?)
[2, 2, 5]

INSERT INTO "Order" ("state", "date_created", "date_shipped", "date_delivered", "total_price", "customer") VALUES (?, ?, ?, ?, ?, ?)
['DELIVERED', '2012-10-20 15:22:00.000000', '2012-10-21 11:34:00.000000', '2012-10-26 17:23:00.000000', '292.00', 1]

INSERT INTO "OrderItem" ("quantity", "price", "order", "product") VALUES (?, ?, ?, ?)
[1, '274.00', 1, 1]

INSERT INTO "OrderItem" ("quantity", "price", "order", "product") VALUES (?, ?, ?, ?)
[2, '9.98', 1, 4]

INSERT INTO "Order" ("state", "date_created", "date_shipped", "date_delivered", "total_price", "customer") VALUES (?, ?, ?, ?, ?, ?)
['DELIVERED', '2013-01-10 09:40:00.000000', '2013-01-10 14:03:00.000000', '2013-01-13 11:57:00.000000', '478.50', 1]

INSERT INTO "OrderItem" ("quantity", "price", "order", "product") VALUES (?, ?, ?, ?)
[1, '478.50', 2, 2]

INSERT INTO "Order" ("state", "date_created", "date_shipped", "date_delivered", "total_price", "customer") VALUES (?, ?, ?, ?, ?, ?)
['DELIVERED', '2012-11-03 12:10:00.000000', '2012-11-04 11:47:00.000000', '2012-11-07 18:55:00.000000', '680.50', 2]

INSERT INTO "OrderItem" ("quantity", "price", "order", "product") VALUES (?, ?, ?, ?)
[1, '478.50', 3, 2]

INSERT INTO "OrderItem" ("quantity", "price", "order", "product") VALUES (?, ?, ?, ?)
[2, '9.98', 3, 4]

INSERT INTO "OrderItem" ("quantity", "price", "order", "product") VALUES (?, ?, ?, ?)
[1, '199.00', 3, 6]

INSERT INTO "Order" ("state", "date_created", "date_shipped", "total_price", "customer") VALUES (?, ?, ?, ?, ?)
['SHIPPED', '2013-03-11 19:33:00.000000', '2013-03-12 09:40:00.000000', '99.80', 3]

INSERT INTO "OrderItem" ("quantity", "price", "order", "product") VALUES (?, ?, ?, ?)
[10, '9.98', 4, 4]

INSERT INTO "Order" ("state", "date_created", "total_price", "customer") VALUES (?, ?, ?, ?)
['CREATED', '2013-03-15 23:15:00.000000', '722.00', 4]

INSERT INTO "OrderItem" ("quantity", "price", "order", "product") VALUES (?, ?, ?, ?)
[1, '284.00', 5, 1]

INSERT INTO "OrderItem" ("quantity", "price", "order", "product") VALUES (?, ?, ?, ?)
[1, '478.50', 5, 2]

EXECUTEMANY (10)
INSERT INTO "Category_Product" ("category", "product") VALUES (?, ?)
[3, 5]
[4, 6]
[2, 4]
[4, 3]
[1, 2]
[1, 1]
[4, 4]
[3, 6]
[2, 3]
[4, 5]

COMMIT
RELEASE CONNECTION

In [39]:
select((customer.country, count(customer))
  for customer in Customer). order_by(2).first()

GET CONNECTION FROM THE LOCAL POOL
SWITCH TO AUTOCOMMIT MODE
SELECT "customer"."country", COUNT(DISTINCT "customer"."id")
FROM "Customer" "customer"
GROUP BY "customer"."country"
ORDER BY 2
LIMIT 1

('China', 1)